# Env
.env

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/reiwa.db

# Node
frontend/node_modules/
frontend/dist/
frontend/android/
frontend/package-lock.json

# OS
.DS_Store
Thumbs.db
